@use '../abstracts/index' as *;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
    font-family: $font-family;
    font-size: map-get($font-size,"1");
    max-width: 100vw;
    max-height: 100vh;
    background-color: getColor("black-75");
}


svg{
    width: 100%;
    display: block;
    fill: currentColor;
}


ul{
  list-style: none;
}