@use "../abstracts/index" as *;

.sidebar {
  height: 100%;
  color: getColor("white");
  width: 75vw;
  padding: 1rem;
  background-color: getColor("black-100");
  position: fixed;
  z-index: 10;
  transition: transform getAnimation("sidebar") ease-out;
  @include mQ(680px){
    width: 30vw;
  }


  &__icon {
      
      font-size: getSize("3");
      box-shadow: getShadow("2");
      border-radius: 50%;
      background-color: getColor("black-100");
      cursor: pointer;

      &--big{
        font-size: getSize("5")
      }
    
  }
  
  &__close {
    @include dFlex(row, wrap, space-between, center);
    padding: 1rem 0;
    width: 100%;
    &-title {
      font-size: 1.6rem;

      /* Efect typing */
      position: relative;
      overflow: hidden;
      &::after{
        content: "";
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: getColor("black-100");
        border-left: 2px solid getColor("white");
        left: 0;
        animation: typing 1.5s steps(15) infinite;
      }
          /* Efect typing */
    }
 
  }
  &__separator {
    width: 100%;
    height: 2px;
    background-color: getColor("black-50");
  }

  &__wrapper {
    @include dFlex(row, wrap, flex-start, center);
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;

    & .uil {
      font-size: getSize("3");
      width: 20%;
    }

    .sidebar__label{
      width: 80%;
    }
  }

  &__toggle {
    position: fixed;
    left: 1rem;
    top: 1rem;
    padding: 0.5rem;
    color: getColor("white");
    opacity: 0;
    z-index: 5;
    transition: opacity getAnimation("btn-toggle") ease-in-out;
  }
}

#check {
  display: none;
  &:checked ~ .sidebar {
    transform: translateX(-75vw);
    transition: transform getAnimation("sidebar") ease-in-out;
  }
  &:checked ~ label > i {
    opacity: 1;
    transition: opacity getAnimation("btn-toggle") ease-in;
  }

}

@keyframes typing {
  100%{
    transform: translateX(120%);
  }
}